.profileWrap {
    display: flex;
    background-color: #f3f3f3;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 35vh;
    padding: 50px 0;

    .topContainer {
        width: 80%;
        display: flex;
        gap: 30px;
        align-items: center;

        .imgFrame {
            width: 140px;
            height: 140px;
            background-color: gray;
            border: 1px solid white;
            border-radius: 999px;
            overflow: hidden;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .profileContainer {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .nickname {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .careerContainer {
                display: flex;
                gap: 8px;
                align-items: center;

                .span {
                    color: #959595;
                }
            }
        }
    }

    .bottomContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 80%;
    
        .countContainer {
            display: flex;
            gap: 8px;
            align-items: center;
            color: var(--primary-color);
            font-weight: bold;
        
            .span {
                color: #959595;
            }
        }

        .rightItems {
            display: flex;
            gap: 20px;

            .favorite, button {
                cursor: pointer;
                color: white;
                background-color: var(--primary-color);
                padding: 15px 20px;
                border-radius: 15px;
                border: none;
                font-size: 16px;
                align-items: center;
            }

            .favorite {
                display: flex;
                gap: 10px;
            }
        }
    }
}


