.nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
    // overflow: hidden;
    backdrop-filter: blur(20px);
    z-index: 999;

}

.wrap {
    display: flex;
    width: 100%;
    padding-inline: 10vw;
    height: 100%;
    align-items: center;
    // overflow: hidden;
    justify-content: space-between;
    gap: 50px;
    position: relative;

    .leftMenu,
    .rightMenu {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        gap: 5vw;

        div {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}

.leftMenu {


    .logoContainer {
        gap: 10px;
        letter-spacing: 5pt;
        font-size: 12pt;
        font-weight: bold;
    }

    .menuContainer {
        font-weight: bold;
        min-width: 100px;

    }

}


.rightMenu {

    .searchContainer {
        width: 100%;
        min-width: 250px;
        background-color: #f3f3f3;
        padding-inline: 20px;
        border-radius: 999px;

        input {
            height: 100%;
            width: 100%;
            border: none;
            background: transparent;
            outline: none;
        }

        .iconFrame {
            display: flex;
            align-items: center;
            height: 100%;
            width: 10%;
            justify-content: flex-end;
        }
    }

    .profileContainer {
        cursor: pointer;
        height: 70px !important;

        .dropdownMenu {
            position: absolute;
            cursor: default;
            background-color: var(--primary-color);
            border-radius: 8px;
            color: white;
            right: 10vw;
            top: 100%;
            width: 120px;
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            span {
                width: 80px;
                border-bottom: 1px solid white;
                opacity: .5;
                margin: 8px 0;
            }
        }

        .nicknameFrame {
            width: auto;
            font-weight: bold;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
            justify-content: flex-end;
            padding-left: 10px;
        }

        .profileFrame {
            width: 35px;
            height: 35px;
            background-color: lightgray;
            border: 1px solid white;
            border-radius: 999px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }
    }

    .authContainer {
        display: flex;
        min-width: 200px;
        justify-content: flex-end;
    }

}