.wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editor {
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 20px 25px;
    border: 1px solid #ddd;
    border-radius: 15px;
    min-height: 200px;

    div {
        outline: none;
    }

}

.editor:focus {
    border-color: #aaa;
}